name: Build Bridge

on:
  workflow_call:
    inputs:
      ref_name:
        required: true
        type: string
      default_ref_name:
        required: false
        type: string
        default: 'master'
      image_file:
        required: false
        default: './Dockerfile'
        type: string
      component:
        required: false
        type: string
    outputs:
      image_repo:
        value: ${{ jobs.merge.outputs.image_repo }}
      image_tag:
        value: ${{ jobs.merge.outputs.image_tag }}
      image_digest:
        value: ${{ jobs.merge.outputs.image_digest }}
      component:
        value: ${{ jobs.merge.outputs.component }}

jobs:
  build:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        include:
          - platform: linux/amd64
          - platform: linux/arm64 # bridges are running on arm64, don't remove unless a normal pool is provisioned

    permissions:
      packages: write
      contents: read

    env:
      REF_NAME: ${{ inputs.ref_name || github.ref_name }}

    steps:
      - name: Compute params
        uses: actions/github-script@v7
        id: params
        env:
          COMPONENT: ${{ inputs.component }}
        with:
          script: |
            let tag = process.env.REF_NAME;
            if (tag === 'master' || tag === 'release') {
              tag = 'main';
            }
            core.setOutput('tag', tag);
            core.setOutput('component', process.env.COMPONENT);
            let repository = (process.env.GITHUB_REPOSITORY).toLowerCase();
            if (process.env.COMPONENT) {
              repository += '/' + process.env.COMPONENT
            }
            core.setOutput('repository', repository);

      - name: Prepare platform
        run: |
          platform=${{ matrix.platform }}
          echo "PLATFORM_PAIR=${platform//\//-}" >> $GITHUB_ENV

      - name: Checkout code
        id: checkout
        uses: actions/checkout@v4
        with:
          fetch-depth: 0
          submodules: recursive
          ref: ${{ env.REF_NAME }}
          repository: ${{ github.repository }}

      - name: Log in to GitHub Container Registry
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Set up QEMU
        uses: docker/setup-qemu-action@v3

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Extract metadata (tags, labels) for Docker
        id: meta
        uses: docker/metadata-action@v5
        with:
          images: ghcr.io/${{ steps.params.outputs.repository }}
          github-token: ${{ secrets.GITHUB_TOKEN }}
          context: 'git'
          tags: |
            type=sha
            type=sha,format=long
            type=raw,value=${{ steps.params.outputs.tag }}

      - name: Build and push by digest
        id: build
        uses: docker/build-push-action@v6
        with:
          context: .
          file: ${{ inputs.image_file }}
          platforms: ${{ matrix.platform }}
          labels: ${{ steps.meta.outputs.labels }}
          outputs: type=image,name=ghcr.io/${{ steps.params.outputs.repository }},push-by-digest=true,name-canonical=true,push=true

      - name: Export digest
        run: |
          mkdir -p ${{ runner.temp }}/digests
          digest="${{ steps.build.outputs.digest }}"
          touch "${{ runner.temp }}/digests/${digest#sha256:}"

      - name: Upload digest
        uses: actions/upload-artifact@v4
        with:
          name: digests-${{ env.PLATFORM_PAIR }}
          path: ${{ runner.temp }}/digests/*
          if-no-files-found: error
          retention-days: 1

  merge:
    runs-on: ubuntu-latest
    needs: build

    permissions:
      packages: write
      contents: read

    env:
      REF_NAME: ${{ inputs.ref_name || github.ref_name }}

    outputs:
      image_repo: ghcr.io/${{ steps.params.outputs.repository }}
      image_tag: ${{ steps.params.outputs.tag }}
      image_digest: ${{ steps.create-manifest.outputs.digest }}
      component: ${{ steps.params.outputs.component }}

    steps:
      - name: Compute params
        uses: actions/github-script@v7
        id: params
        env:
          COMPONENT: ${{ inputs.component }}
        with:
          script: |
            let tag = process.env.REF_NAME;
            if (tag === 'master' || tag === 'release') {
              tag = 'main';
            }
            core.setOutput('tag', tag);
            core.setOutput('component', process.env.COMPONENT);
            let repository = (process.env.GITHUB_REPOSITORY).toLowerCase();
            if (process.env.COMPONENT) {
              repository += '/' + process.env.COMPONENT
            }
            core.setOutput('repository', repository);
            core.setOutput('fulltag', `ghcr.io/${repository}:${tag}`);

      - name: Download digests
        uses: actions/download-artifact@v4
        with:
          path: ${{ runner.temp }}/digests
          pattern: digests-*
          merge-multiple: true

      - name: Log in to GitHub Container Registry
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Extract metadata (tags, labels) for Docker
        id: meta
        uses: docker/metadata-action@v5
        with:
          images: ghcr.io/${{ steps.params.outputs.repository }}
          github-token: ${{ secrets.GITHUB_TOKEN }}
          tags: |
            type=raw,value=${{ steps.params.outputs.tag }}

      - name: Create manifest list and push
        id: create-manifest
        working-directory: ${{ runner.temp }}/digests
        run: |
          TAGS=$(jq -cr '.tags | map("-t " + .) | join(" ")' <<< "$DOCKER_METADATA_OUTPUT_JSON")
          echo "Tags: $TAGS"
          ls
          docker buildx imagetools create $TAGS \
            $(printf 'ghcr.io/${{ steps.params.outputs.repository }}@sha256:%s ' *)

          DIGEST=$(docker buildx imagetools inspect ${{ steps.params.outputs.fulltag }} --format '{{ json .Manifest }}' | jq -r '.digest')
          echo "digest=$DIGEST" >> $GITHUB_OUTPUT

      - name: Inspect image
        run: |
          docker buildx imagetools inspect ${{ steps.params.outputs.fulltag }}